{
  "env": {
    "development": {
      "presets": [
        ["env", {"modules": false}],
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
