@lost flexbox flex;

* {
  font-family: 'Lora';
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0px;
}

#app {
  height: 100%;
}

.container {
  height: 100%;
  lost-center: 80%;
}
