.suggestions {
  background-color: silver;
  display: flex;
  lost-center: 100%;
  lost-flex-container: column;
  max-width: 548px;
}

.suggestion {
  padding: 0.25rem 0.25rem;
}

.suggestion:hover {
  background-color: gray;
  cursor: pointer;
}
